@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
body {
	background-color: rgb(42, 42, 42);
					color: rgb(220, 220, 220);
					font-family: "Source Code Pro", "Lucida Console", "Consolas", monospace;
}
			a, a:visited  {
					color: rgb(200, 200, 200);
					font-weight: bold;
			}
svg {
	background-color: rgb(42, 42, 42);
	/* display: block; */
	margin: 0 auto;
}
.basicblock {
	stroke: rgb(224, 224, 224);
}
.edge-binja {
	fill: none;
	stroke-width: 1px;
}
.edge-dot {
	fill: none;
	stroke-width: 1px;
}.back_edge {
	fill: none;
	stroke-width: 2px;
}
.UnconditionalBranch, .IndirectBranch {
	stroke: rgb(128, 198, 233);
	color: rgb(128, 198, 233);
}
.FalseBranch {
	stroke: rgb(222, 143, 151);
	color: rgb(222, 143, 151);
}
.TrueBranch {
	stroke: rgb(162, 217, 175);
	color: rgb(162, 217, 175);
}
.arrow {
	stroke-width: 1;
	fill: currentColor; */
}
text {
	font-family: "Source Code Pro", "Lucida Console", "Consolas", monospace;
	font-size: 9pt;
	fill: rgb(224, 224, 224);
}
.CodeSymbolToken {
	fill: rgb(128, 198, 223);
}
.DataSymbolToken {
	fill: rgb(142, 230, 237);
}
.TextToken, .InstructionToken, .BeginMemoryOperandToken, .EndMemoryOperandToken {
	fill: rgb(224, 224, 224);
}
.CodeRelativeAddressToken, .PossibleAddressToken, .IntegerToken, .AddressDisplayToken {
	fill: rgb(162, 217, 175);
}
.RegisterToken {
	fill: rgb(237, 223, 179);
}
.AnnotationToken {
	fill: rgb(218, 196, 209);
}
.IndirectImportToken, .ImportToken, .ExternalSymbolToken {
	fill: rgb(237, 189, 129);
}
.LocalVariableToken, .StackVariableToken {
	fill: rgb(193, 220, 199);
}
.OpcodeToken {
	fill: rgb(144, 144, 144);
}
