body {
	background-color: black;
}

* {
	box-sizing: border-box;
}

.row {
	display: flex;
}

.gui-label {
	flex: 50%;
	text-align: right;
	padding: 8px;
}

.col {
	flex: 50%;
	padding: 8px;
}

.center-div
{
	background-color: black;
	margin: 0 auto;
	width: 640px;
}

.gui-div
{
	float: right;
	border-radius: 4px;
	background-color: gray;

}
